# IDE files
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Gradle
.gradle
/build
**/build/

# Local configuration
/local.properties

# Android Studio captures
/captures

# Native builds
.externalNativeBuild
.cxx

# macOS system file
.DS_Store

# Signing keys (don’t commit secrets!)
*.jks
*.keystore

# Google services (Firebase, optional)
google-services.json
